body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: #000000;
}

canvas {
    display: block;
    padding: 0;
    margin: 0;
    width: 800px;
    height: 600px;
    border: none;
}
